:root {
  --ion-background-color: #F8FAFC;
  --ion-text-color: #0F172A;

  --ion-safe-area-top: env(safe-area-inset-top);
  --ion-safe-area-bottom: env(safe-area-inset-bottom);
  --ion-safe-area-left: env(safe-area-inset-left);
  --ion-safe-area-right: env(safe-area-inset-right);

  --ion-color-primary: #2563EB;
  --ion-color-primary-contrast: #ffffff;

  --ion-color-step-50: #f8fafc;
  --ion-color-step-100: #f1f5f9;
}

body.dark {
  --ion-background-color: #0B1220;
  --ion-text-color: #E5E7EB;

  --ion-color-primary: #38BDF8;
  --ion-color-primary-contrast: #0B1220;

  --ion-color-step-50: #111B2E;
  --ion-color-step-100: #16233B;
}
